.info {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.info ul {
  list-style: none;
  display: inline;
}

.info li {
  margin: 20px 60px 10px 60px;
  background-size: cover;
  background-color: rgb(29, 92, 207);
  border-radius: 25px;
}

.info a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.imageProfile {
  align-items: center;
  justify-content: center;
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  top: 25%;
  transform: translateY(-50%);
}

.imageProfile img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}