<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      LinkTree in Ionic and Angular
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="imageProfile">
    <img src="../../assets/img/profile.jpg">
  </div>

  <div class="info">
    <ul>
      <li><a href="https://www.linkedin.com/in/didier-crespo-castilla-912964164/">Linkedin</a></li>
      <li><a href="https://github.com/DJCrespo">Github</a></li>
      <li><a href="https://www.facebook.com/DJcrespo1898">Facebook</a></li>
    </ul>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>By DIdier Crespo</ion-title>
  </ion-toolbar>
</ion-footer>
